body{
    font-family: Verdana, Arial;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

h1{
    font-size: 48px;
    color: blue;
    padding: 15px;
}

h2{
    font-size: 32px;
}

p{
    font-size: 24px;
    padding-bottom: 15px;
    padding-left: 15px;
}

img{
    width: 350px;
    border: 10px dashed black;
}

div {
    min-height: 100px;
    padding: 20px;
    border: 3px solid #ffffff;
}

.red{
    background-color: #ff8c8c;
    text-align: right;
    margin-left: 50px;
    border-bottom-width: 3px;
    border-left-width: 10px;

}

.blue{
    background-color: #ADD8E6;
    text-align: left;
    margin-right: 50px;
    border-right-width: 10px;
    border-bottom-width: 3px;

}

span{
    text-decoration: underline;
    text-transform: uppercase;
}

footer{
    background-image: linear-gradient(to right,#000000,#0000ff 25%,#0066ff 70%,#000000);
}